extends layout

block content
    .container
        .row.main
            .span10.well
                ul.nav.nav-pills.fr
                    - var items = ['ajax', 'poll', 'socket','iframe']
                    each item in items
                        - if (item==type)
                            li.active
                                a(href='/#{type}')= type
                        - else
                            li
                                a(href='/#{item}')= item
                h2= title
            
            .span8
                //消息窗口
                .well
                    #msgShowWraper.msgShowWraper
                        #msgShow.msgShow
                //输入窗口
                .well.msgInputBox
                    .fr.msgSend
                        a#msgSendBtn.btn.btn-primary.btn-large(href='javascript:') 发送
                        small (Ctrl+Enter)

                    textarea#msgInput.msgInput
                    #msgInputAlert.alert.alert-info

            //在线用户列表
            .span2.well.peopleOnlineWraper
                ul#onlineList.peopleOnline.unstyled

        //登陆面板
        #loginPanel.loginPanel.modal.fade
            .modal-header
                h3 登陆面板
            
            .modal-footer
                #loginAlert.alert.alert-info 
                .input-append.control-group
                    input#nicknameInput.span4(type='text', placeholder='输入您的昵称')  
                    button#loginBtn.btn.btn-primary(type='button') 开始聊天
                
block script
    - if(type=='socket')
        script(src='js/lib/json.js')
    script(src='js/#{type}Client.js')
