
.fr{float:right;}
.clear{clear:both;line-height:0;height:0;}
.container{margin-top:5px;}
.main{margin-left:50px;}
.msgInputBox{position:relative;}.msgInputBox .msgInput{width:490px;height:80px;font-size:14px;font-weight:normal;line-height:20px;}
.msgInputBox .msgSend{margin-top:10px;}.msgInputBox .msgSend a,.msgInputBox .msgSend small{display:block;margin-bottom:10px;}
.msgInputBox .alert{position:absolute;font-size:14px;line-height:30px;display:none;top:40px;left:80px;width:300px;}
.peopleOnlineWraper{height:540px;overflow:auto;margin-left:20px;}.peopleOnlineWraper.span2{width:178px;}
.peopleOnlineWraper.well{padding:0;}
.peopleOnlineWraper iframe{width:100%;height:99%;border:0;}
ul.peopleOnline{padding:19px;}ul.peopleOnline li{padding:3px 0;line-height:20px;}ul.peopleOnline li span{display:block;float:left;background:lightgray;width:20px;height:20px;margin-right:5px;}
ul.peopleOnline li.me span{background:lightblue;}
.loginPanel.modal,.loginPanel.modal.fade.in{top:500px;}
.loginPanel .modal-footer{text-align:center;position:relative;}
.loginPanel .alert{top:-12px;left:50%;margin-left:-150px;width:250px;z-index:2000;position:absolute;display:none;font-size:14px;line-height:30px;}
.msgShowWraper{height:340px;width:100%;overflow:auto;background:white;border:1px solid lightgray;}
.msgShow{padding:5px 10px 30px;}
.msg.msgSystem{color:gray;text-align:center;}
.msg .msgInfo{color:gray;padding:5px 2px 0;float:left;}
.msg .msgDecorate{width:0;height:0;float:left;border-width:5px;border-color:lightgreen lightgreen transparent transparent;border-style:solid solid dashed dashed;}
.msg .msgContent{float:left;background:lightgreen;-webkit-border-radius:0 5px 5px 5px;-moz-border-radius:0 5px 5px 5px;border-radius:0 5px 5px 5px;padding:8px 16px;max-width:300px;}
.msg.myMsg .msgInfo,.msg.myMsg .msgDecorate,.msg.myMsg .msgContent{float:right;}
.msg.myMsg .msgDecorate{border-color:lightblue transparent transparent lightblue;border-style:solid dashed dashed solid;}
.msg.myMsg .msgContent{background:lightblue;-webkit-border-radius:5px 0 5px 5px;-moz-border-radius:5px 0 5px 5px;border-radius:5px 0 5px 5px;}
